#ImgSample{
	 animation: fadein 500ms;
	 transition: 200ms;
	 margin: 5px;
}

.big-img-sample{
   width: 100px;
   height: 100px;
   transition: 200ms;
   margin: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
	margin:10px;
}

video{
	display: block;
}

.section {
  padding: 2rem 0 2rem;
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


/* If you want the content centered horizontally and vertically */
.centered {
	display: block;
  text-align: center;
  width: 100%
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

#selector {
  width: 0;
  height: 0;
   transition: 200ms;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid grey;
}

.snapshot-container{
  background-color :grey;
  min-width : 100%;
  min-height : 60%;
}
